/* stylelint-disable scss/function-no-unknown */
@use "sass:map";
@use './globals.scss' as globals;
@use './levels.scss' as levels;
@use './rules.scss' as rules;
@use './helpers.scss' as helpers;

@function init-controlled-bem($args...) {
  $argMap: helpers.arg-list-to-map($args...);
  $rootSelector: null;
  $parent: &;
  $rules: rules.rules-to-map($argMap);
  $levels: [];
  $blockName: map.get($argMap, 'blockName');
  $config: (
    'blockName': $blockName,
    'rootSelector': $rootSelector,
    'parent': $parent,
  );

  @return globals.init-global-bem($rules, $levels, $config);
}

/// for future use
@function end-controlled-bem() {
  @return null;
}

@mixin block() {
  $processData: start-processing(
    $block: true,
  );

  @include handle-output($processData) {
    @content;
  }

  $void: stop-processing($processData);
}

@mixin content($element) {
  $processData: start-processing(
    $content: $element,
  );

  @include handle-output($processData) {
    @content;
  }

  $void: stop-processing($processData);
}

@mixin modifier($modifier) {
  $processData: start-processing(
    $modifier: $modifier,
  );

  @include handle-output($processData) {
    @content;
  }

  $void: stop-processing($processData);
}

@mixin element($element) {
  $processData: start-processing(
    $element: $element,
  );

  @include handle-output($processData) {
    @content;
  }

  $void: stop-processing($processData);
}
