/* stylelint-disable scss/dollar-variable-pattern */
/// GLOBALS

$HAS_EXPLICIT_TRUE: 'HAS_EXPLICIT_TRUE';
$ALL_ALLOWED: 'ALL_ALLOWED';
$IS_EXPLICITlY_DISALLOWED: 'IS_EXPLICITlY_DISALLOWED';
$ALLOW_BASE_CONTENT: 'ALLOW_BASE_CONTENT';
$ENTITY_TYPE_BLOCK: 'ENTITY_TYPE_BLOCK';
$ENTITY_TYPE_ELEMENT: 'ENTITY_TYPE_ELEMENT';
$ENTITY_TYPE_MODIFIER: 'ENTITY_TYPE_MODIFIER';
$ENTITY_TYPE_RULE: 'ENTITY_TYPE_RULE';
$ENTITY_TYPE_SELECTOR: 'ENTITY_TYPE_SELECTOR';
