/* stylelint-disable scss/function-no-unknown */
@use "sass:meta";
@use "sass:map";
@use "sass:list";

@function pop-list($target) {
  $len: list.length($target);
  $copy: [];

  @if $len > 1 {
    @for $i from 1 through $len - 1 {
      $copy: list.append($copy, list.nth($target, $i));
    }
  }

  @return $copy;
}

// Returns the key of the first item in map that has a non-null value
@function get-map-key-with-value($target) {
  @if not $target {
    @return null;
  } @else {
    @each $name, $value in $target {
      /* stylelint-disable-next-line scss/at-if-no-null */
      @if meta.type-of($value) != null {
        @return $name;
      }
    }
  }

  @return null;
}

// Returns the (key,value) map of the first item in map that has a non-null value
@function get-map-data-with-value($target) {
  $keyWithValue: get-map-key-with-value();

  @if not $keyWithValue {
    @return null;
  }

  $value: map.get($target, $keyWithValue);

  @return ('key': $keyWithValue, 'value': $value);
}

@function is-value-boolean($value) {
  @return meta.type-of($value) == 'bool';
}

@function is-value-null($value) {
  @return meta.type-of($value) == 'null';
}

@function is-value-map($value) {
  @return meta.type-of($value) == 'map';
}

@function is-value-false($value) {
  @return is-value-boolean($value) and $value == false;
}

@function is-value-true($value) {
  @return is-value-boolean($value) and $value == true;
}

/// this is intentionally named like this so it is not confused with is-value-false
@function can-value-be-falsy($value) {
  @return not $value or $value == '' or $value == 0;
}

/// this is intentionally named like this so it is not confused with is-value-true
@function can-value-be-truthy($value) {
  @return can-value-be-falsy($value) != true;
}

/// empty () do not have type-of map, it is a list
@function create-empty-map() {
  @return map.merge((), ());
}
