@use './levels.scss' as levels;

@mixin emit($level) {
  $contentOnly: levels.is-level-content-only($level);
  $isAllowed: levels.is-level-allowed($level);
  $selector: levels.get-level-selector($level);
  $shouldEmitAtRoot: levels.should-level-emit-at-root($level);

  /// debug 'selector #{$selector}';

  @if $contentOnly {
    @content;
  } @else if $isAllowed {
    @if $shouldEmitAtRoot {
      @at-root {
        #{$selector} {
          @content;
        }
      }
    } @else {
      #{$selector} {
        @content;
      }
    }
  }
}
