/* stylelint-disable scss/function-no-unknown */
@use './globals.scss' as globals;
@use './levels.scss' as levels;
@use './rules.scss' as rules;
@use './helpers.scss' as helpers;

$globalRules: null;

@function start($args...) {
  $newLevel: create-process-level($args...);
  $void: globals.add-global-bem-level($newLevel);

  @return $newLevel;
}

@function create-process-level($args...) {
  $rules: globals.get-global-bem-rules();
  $levels: globals.get-global-bem-levels();
  $config: globals.get-global-bem-config();
  $parent: levels.get-current-level($levels);
  $newLevel: levels.create-level($rules, $config, $parent, $args...);

  @return $newLevel;
}

@function end() {
  @return globals.remove-current-global-bem-level();
}
